@media screen and (max-width: 1300px){
    .container{
        margin-left: 14%;
        margin-right: 14%;
        width:auto;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 1600px;
        background-color: white;
        
    }
} 
@media screen and (max-width: 1250px){
    .container{
        margin-left: 10%;
        margin-right: 10%;
        width:80%;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 1600px;
        background-color: white;
        
    }
} 
@media screen and (max-width: 1100px){
    .container{
        margin-left: 7%;
        margin-right: 7%;
        width:86%;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 1600px;
        background-color: white;
        
    }
} 
@media screen and (max-width: 1050px){
    .container{
        margin-left: 5%;
        margin-right: 5%;
        width:90%;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 1600px;
        background-color: white;
        
    }
} 

@media screen and (max-width: 900px){
    .container{
        margin-left: 15%;
        margin-right: 15%;
        width:70%;
        margin-top: 10px;
        margin-bottom: 50px;
        height: 1600px;
        background-color: white;
        
    }
    .container-left{
        width: 100%;
        height: auto;
        background-color: #253847;
        float: left;
    }
    
    .container-right{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        float: right;
    }
    .container-left-top-images{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        
    }
    .container-left-top-images img{
        width: 40%;
        height: 80%;
        border-radius: 50%;
        border: 2px solid white;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    .item-contact-left{
        width: 100%;
        min-height: 200px;
        margin-top: 20px;
    }
    .item-contact-left .heading-item-left{
        width: 100%;
        text-align: center;
    }
    .container-right-main{
        background-color: white;
    }

} 

@media screen and (max-width: 540px){
    .container-left-top-images{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        
    }
    .container-left-top-images img{
        width: 40%;
        height: 70%;
        border-radius: 50%;
        border: 2px solid white;

    }
}
@media screen and (max-width: 450px){
    .container{
        margin-left: 7%;
        margin-right: 7%;
        width:86%;
        margin-top: 10px;
        margin-bottom: 50px;
        height: 1600px;
        background-color: white;
        
    }
    .container-left-top-images{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        
    }
    .container-left-top-images img{
        width: 40%;
        height: 60%;
        border-radius: 50%;
        border: 2px solid white;

    }
}

@media screen and (max-width: 370px){
    .container{
        margin-left: 5%;
        margin-right: 5%;
        width:90%;
        margin-top: 10px;
        margin-bottom: 50px;
        height: 1600px;
        background-color: white;
        
    }
   
}

@media screen and (max-width: 350px){
    .container{
        margin-left: 3%;
        margin-right: 3%;
        width:94%;
        margin-top: 10px;
        margin-bottom: 50px;
        height: 1600px;
        background-color: white;
        
    }
   
}